// Bootstrapのインポート
@import "~bootstrap/scss/bootstrap";

$brawn: #EF866B;
$orange: #F7B46B;
$yellow: #F7D76B;
$gray: #BCB5B5;


$font-size-1: 2rem;
$font-size-2: 1.2rem;

.flex {
    display: flex;
}
.navbar {
    background-color: $gray;
    h2 {
        a{
            font-size: $font-size-1;
            color: white;
        }
        :hover {
            opacity: 0.8;
        }
    }

    .collapse {
        .navbar-nav{
            li {
                a {
                    font-size: $font-size-2;
                    color: white;
                    text-decoration: none;
                    border-bottom: 2px solid white;
                    :hover {
                        opacity: 0.5;
                    }
                }
            }

            li:not(:first-child):after {
                content: "";
                position: absolute;
                bottom: 22px;
                display: inline-block;
                width: 1.5px;
                height: 25px;
                transform: translateX(-50%);
                background-color: white;
                border-radius: 2px;
            }
            
        }
    }
}


.navbar-toggler {
    border-color:$brawn;
    background-color: $brawn;
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

// footer
footer {
    width: 100vw;
    background-color: $gray;
    p {
        color: white;
        display: block;
        text-align: center;
        margin: auto;
    }
}